.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

.menu a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;


}
