.info, h1, p, h2{
    padding-left:30px;
}

.equip{
    background:#3d5d60;
    position: relative;
    border-radius: 12px;
    padding:10px;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    color: white;
    overflow: visible;
}


.equip-blocks{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    gap:4px;
    margin-bottom: 20px;
    padding: 30px;
}