ul{
    padding-left:60px;
}

.info, h1, p, h2{
    padding-left:30px;
}

.logo img {
    width: 110px;
    height: auto;
}

.lab {
    background:#3d5d60;
    position: relative;
    border-radius: 12px;
    padding:30px;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    color: white;
    overflow: visible;
}

.lab-blocks{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    gap:4px;
    margin-bottom: 20px;
    padding: 30px;
}

