.currentDate{
    font-size: 2em;
}


.info, h1, p, h2{
   padding-left:30px;
}

ul{
    padding-left:60px;
}

.room-blocks{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:15px;
    margin-bottom: 20px;
    padding: 30px;
}

.room{
    background:#3d5d60;
    position: relative;
    border-radius: 12px;
    padding:10px;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    color: white;
    overflow: visible;
}

.room-info{
    display: none;
    position: absolute;
    bottom: 120%;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    z-index: 10;
}

.room:hover .room-info{
    opacity:1;
    bottom: 125%;
    display: block;
}
