.currentDate{
    font-size: 2em;
}


.info, h1, p, h2{
   padding-left:50px;
}

ul{
    padding-left:80px;
}


.room-blocks{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:15px;
    margin-bottom: 20px;
    padding: 30px;
}

.info-image{
    width: 150px;
    height: 100px;
}

.room{
    background:#3d5d60;
    position: relative;
    border-radius: 12px;
    padding:30px;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    color: white;
    overflow: visible;
}

.room-info{
    display: none;
    position: absolute;
    bottom: 120%;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    z-index: 10;
}

.room:hover .room-info{
    opacity:1;
    bottom: 125%;
    display: block;
}

.room.selected {
    border-color: #04282B;
    background-color: #04282B;
}

button {
    padding: 10px 20px;
    background-color: #F0F0F0;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 10px;
}

.date-selection{
    position: absolute;
    left: 10px;
}