.start {
    padding: 50px;
}

.start h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.start p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.carousel {
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    padding: 20px 0;
}

.carousel-track {
    display: inline-block;
    animation: scroll 25s linear infinite;
}

.carousel-track img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    display: inline-block;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.faq {
    background-color: #f8f8f8;
    color: #333;
    padding: 60px 20px;
    text-align: left;
    font-family: monospace;
}

.faq h2 {
    text-align: left;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #222;
}

.faq-item {
    margin: 0 auto 25px auto;
    max-width: 800px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.faq-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #444;
    cursor: pointer;
}

.faq-item h3:hover {
    color: #9fa7ad;
}

.faq-item p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}
